.wp-full-overlay-sidebar,.expanded .wp-full-overlay-footer {
	width:400px;
}

.wp-full-overlay.expanded {
    margin-left: 400px;
}

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
	margin-left: -400px;
}

#customize-controls {
    opacity: 0.3;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;	
}

#customize-controls:hover,
.wp-core-ui.wp-customizer.adding-menu-items #customize-controls {
    opacity: 1;
}

.customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
	margin-left:0;
}

.accordion-sub-container  h3.accordion-section-title:before {
    position: relative;
    display: block;
    content: '';
    float: left;
	background-image:url(../images/admin_menu_icon.png); 
	background-repeat:no-repeat; 
	display:block; 
	width:30px; 
	height:25px; 
	float:left;
	margin: 0 10px 0 0;	
}

.accordion-sub-container .control-section-default  h3.accordion-section-title:before,
.accordion-sub-container #accordion-section-general  h3.accordion-section-title:before {background-position:-648px 0;}
.accordion-sub-container #accordion-section-header  h3.accordion-section-title:before  {background-position:-829px 0;}
.accordion-sub-container #accordion-section-background  h3.accordion-section-title:before  {background-position:0 0;}
.accordion-sub-container #accordion-section-logo  h3.accordion-section-title:before  {background-position: -93px 0;}
.accordion-sub-container #accordion-section-main-colors  h3.accordion-section-title:before  {background-position:-185px 0;}
.accordion-sub-container #accordion-section-fonts  h3.accordion-section-title:before  {background-position:-275px 0;}
.accordion-sub-container #accordion-section-slider  h3.accordion-section-title:before  {background-position:-369px 0;}
.accordion-sub-container #accordion-section-social-links  h3.accordion-section-title:before  {background-position:-463px 0;}
.accordion-sub-container #accordion-section-footer  h3.accordion-section-title:before  {background-position:-555px 0;}
.accordion-sub-container #accordion-section-custom-css  h3.accordion-section-title:before  {background-position:-738px 0;}
.accordion-sub-container #accordion-section-woo  h3.accordion-section-title:before  {background-position:-925px 0;}

#accordion-section-static_front_page .customize-control-radio label {
	margin-left:24px;
}

/* Disable hover on iPhone */
@media only screen and (min-device-width : 641px) { 
.accordion-sub-container .control-section-default  h3.accordion-section-title:hover:before,
.accordion-sub-container #accordion-section-general  h3.accordion-section-title:hover:before {background-position:-706px 0;}
.accordion-sub-container #accordion-section-header  h3.accordion-section-title:hover:before  {background-position:-891px 0;}
.accordion-sub-container #accordion-section-background  h3.accordion-section-title:hover:before {background-position:-62px 0;}
.accordion-sub-container #accordion-section-logo  h3.accordion-section-title:hover:before  {background-position:-155px 0;}
.accordion-sub-container #accordion-section-main-colors  h3.accordion-section-title:hover:before {background-position:-245px 0;}
.accordion-sub-container #accordion-section-fonts  h3.accordion-section-title:hover:before {background-position:-337px 0;}
.accordion-sub-container #accordion-section-slider  h3.accordion-section-title:hover:before  {background-position:-431px 0;}
.accordion-sub-container #accordion-section-social-links  h3.accordion-section-title:hover:before {background-position:-525px 0;}
.accordion-sub-container #accordion-section-footer  h3.accordion-section-title:hover:before  {background-position:-617px 0;}
.accordion-sub-container #accordion-section-custom-css  h3.accordion-section-title:hover:before {background-position:-798px 0;}
.accordion-sub-container #accordion-section-woo  h3.accordion-section-title:hover:before {background-position:-999px 0;}
}

#customize-controls  .accordion-sub-container .control-section .accordion-section-title:focus, 
#customize-controls .accordion-sub-container .control-section .accordion-section-title:hover, 
#customize-controls .accordion-sub-container .control-section.open .accordion-section-title, 
#customize-controls .accordion-sub-container .control-section:hover>.accordion-section-title  {
	color: #e1704b;
}

#customize-controls  .accordion-sub-container .jq-selectbox__select {
	width:295px;
}

#customize-controls  .accordion-sub-container .jq-selectbox__dropdown  {
width:350px;
}
 
#accordion-section-slider .accordion-section-content .customize-control  {
	float:none;
}

.customize-control .nivo-slider  {
	display:none;
}

span.customize-control-title {
    color: #3e3e3e;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 5px;
}

span.add_element_info {
	color: #a0a0a0;
    font-family: Arial;
    font-size: 12px;
    float: left;
    width: 100%;
    display: block;
    margin: 0 0 10px;
    line-height: 15px;
}