#page .container #secondary .widget .tweets_list a {
	text-decoration: underline;
	color: #8E7B6D;
}

.tweets_user_title {
	margin-bottom: 1em;
}

#page .container #secondary .widget .tweets_user_title a{
	text-decoration: none;
	color: #45494C;
}

.tweets_list  li{
	font-size: 13px !important;
	color: #45494C;
}
